@tailwind base;
@tailwind components;
@tailwind utilities;


.dataTables_length{
    display: inline-block;
}

.dataTables_length select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  ;
}
.dataTables_filter{
    display: inline-block;
    float: right;
}


.dataTables_filter input{
    @apply  text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500  ;
}